<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EXAMEN_VIALMARC/src/exercice2_raph/VenteTicketsTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exercice2_raph.VenteTicketsTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EXAMEN_VIALMARC"/>
</launchConfiguration>
